<template>
  <div id="app">
    <!--tip提示信息-->
    <tip text="这是提示信息" v-if="state.tip"></tip>

    <div style="background: white; margin-bottom: 20px;">
      <text-field type="number" label="手机号码" placeholder="请输入您本人手机号" v-if="state.mobile" :keyup="mobileKeyup"
                  :value.sync="formData.mobile"></text-field>
      <text-field type="password" label="服务密码" placeholder="请服务密码" v-if="state.serverPass"
                  :value.sync="formData.serverPass" switch></text-field>
      <text-field type="password" label="网站密码" placeholder="请输入网站密码" v-if="state.webPass" :value.sync="formData.webPass"
                  switch></text-field>
      <form-group v-if="state.catchCode">
        <text-field slot="left" type="text" label="校验码" placeholder="请输入图中字符"
                    :value.sync="formData.catchCode"></text-field>
        <item-form slot="right">
          <div class="catchCode">
            <img :src="catchCodeUrl" @click="getCatchCode" alt="点击获取" v-show="!catchCodeReload">
            <spinner :size="20" :icon="2" v-show="catchCodeReload"></spinner>
          </div>
        </item-form>
      </form-group>
      <form-group v-if="state.msgCode">
        <text-field slot="left" type="text" label="短信验证" placeholder="请输入短信验证码"
                    :value.sync="formData.msgCode"></text-field>
        <item-form slot="right">
          <div class="catchCode">
            <button @click="getRandomcode" v-show="!msgCodeReload">
              <countdown text="获取验证码" :active.sync="activeTimer" :during="59" format="S秒"></countdown>
            </button>
            <spinner :size="20" :icon="2" v-show="msgCodeReload"></spinner>
          </div>
        </item-form>
      </form-group>
    </div>
    <div style="margin: 0px 10px;">
      <button fill color="blue" @click="handleSubmit" raised>提交</button>
    </div>
    <!--alert-->
    <toast v-for="toast in toasts" :text="toast.text" :loading="toast.loading" :icon="toast.icon"
           :center="toast.center"></toast>
    <!--loader-->
    <indicator :show="indicator.show" :type="indicator.type" :text="indicator.text"
               :overlay-opacity="indicator.opactiy"></indicator>
  </div>
</template>

<script src="./app.js"></script>

<style lang="less">
  @import "../../components/utils/_vars.less";
  @import "../../components/utils/_mixins.less";

  * {
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }

  html, body {
    height: 100%;
    background: #EDF3F8;
    padding: 0;
    margin: 0;
  }

  #app {
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
  }

  .layout-flex {
    display: flex;
  }

  .catchCode {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3rem;
    margin-right: 1rem;

    img {
      width: 8rem;
      height: 3rem;
    }

  }

</style>
