<template>
  <div class="button-layer">
      <slot></slot>
  </div>
</template>

<script lang="babel">
  export default {

    props: {
      label: {
        type: String,
        default: ''
      },
      icon: {
        type: String,
        default: ''
      },
      focus: {
        type: Boolean,
        default: false
      },
      noEmpty: {
        type: Boolean,
        default: false
      },
      className:{
        type: Object,
        default: function(){
          return {}
        }
      }
    },
    computed:{
      mergeClass: function () {
        return {
          'focus-state': this.focus,
          'not-empty-state': this.noEmpty,
          ...this.className
        }
      }
    }
  }
</script>

<style lang="less">
  .button-layer{
    margin: 0px 24px;
  }
</style>
