<template>
  <div id="app">
    <router-view class="router-view" transition="slide" transition-mode="out-in"></router-view>
    <!--alert-->
    <toast v-for="toast in toasts" :text="toast.text" :loading="toast.loading" :icon="toast.icon"
           :center="toast.center"></toast>
    <!--loader-->
    <indicator :show="indicator.show" :type="indicator.type" :text="indicator.text"
               :overlay-opacity="indicator.opactiy"></indicator>
  </div>
</template>
<script>
  import webApi from 'src/libs/webapi'

  export default {
    created() {
      //todo ajax请求失败 网络异常 统一处理?
      webApi.NetErrorCallBack = () => {
        this.showLoader(false)
        this.alert('无法连接服务器')
      }
    },
    data() {
      return {
        toasts: [],
        indicator: {
          show: false,
          type: 'toast'
        }
      }
    },
    methods: {
      /** toast提示 */
      alert(msg) {
        this.toasts.push({text: msg, icon: 'error', center: true})
        //3秒后自动消失
        setTimeout(() => this.toasts.splice(0, 1), 3000)
      },
      /** loader */
      showLoader (isShow = false, text = '加载中...') {
        this.indicator = {show: isShow, type: 'toast', text}
      },
    }
  }
</script>

<style lang="css">
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }

  html, body {
    height: 100%;
    background: #EDF3F8;
    padding: 0;
    margin: 0;
  }

  #app {
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
  }

  .slide-transition {
    transition-duration: .3s;
    width: 100%;
  }

  .slide-leave, .slide-enter {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  .app-transition {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }

  .app-enter, .app-leave {
    opacity: 0;
  }
</style>
