<template>
  <div id="app">
    <!--首页Banner图-->
    <img class="zhimaTop"  src="./assets/zhimaTop.jpg">
    <!--姓名身份证显示-->
    <div style="background: white; margin-bottom: 20px;">
      <text-field type="text" label="真实姓名" :value.sync="formData.authName"></text-field>
      <text-field type="text" label="身份证号" :value.sync="formData.authIdNo"></text-field>
    </div>
    <!--提交按钮和提示文字-->
    <div style="margin: 0px 10px;">
      <button fill raised color="blue" style="margin-bottom:15px" @click="handleSubmit" >提交</button>
      <p class="btnSp">1.请确保您已开通芝麻信用并已获得芝麻信用分</p>
      <p class="btnSp">2.请核对您的身份信息并授权，以获得更高额度</p>
    </div>
  </div>
</template>

<script lang="babel">
  import webApi from 'src/libs/webapi'
  // 初始化文本域值
  function initFormData(userId = '', authName = '', authIdNo = '') {
    return {userId, authName, authIdNo}
  }
  export default {
    created(){
      //todo ajax请求失败 网络异常 统一处理?
      webApi.NetErrorCallBack = () => {
        this.showLoader(false)
        this.alert('无法连接服务器')
      }
    },
    data(){
      return{
        formData: initFormData(),
        nativeBriage: webApi.nativeBriage
      }
    },
    watch: {
      nativeBriage: {
        handler: function (newVal, oldVal) {
          this.formData.userId = newVal.userId || ''
          this.formData.authName = newVal.authName || ''
          this.formData.authIdNo = newVal.authIdNo || ''
        },
        deep: true
      }
    },
    /** 点击按钮跳转芝麻信用 */
    methods:{
      handleSubmit(){
        //TODO 芝麻信用埋点
        let _param = {
          userId:this.formData.userId
        }
        webApi.zima.ziMaLogin(_param)
      }
    },
  }
</script>

<style lang="less">
  @import "../../components/utils/_vars.less";
  @import "../../components/utils/_mixins.less";

  html {
    font-size: 10px;
  }

  html, body {
    height: 100%;
    background: #EDF3F8;
    padding: 0;
    margin: 0;
  }

  #app {
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
  }

  .vline-left {
    .hairline(left, #d3d6db);
  }

  .layout-flex {
    display: flex;
  }
  .zhimaTop{
    width:100%;
    display: block;
  }
  .btnSp{
    margin: 5px 0;
  }
  div.item-form:after{
    height:0;
  }

</style>
