/* global style */
@import './normalize.css';
@import './variant';

html {
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: @body-bgcolor;
  font-size: @text-size-default;
}
