//---------------
// global color
//---------------
// body背景色
@body-bgcolor: white;

//---------------
// text
//---------------

@text-default: black;
@text-size-default: 1.6rem;

//---------------
// button
//---------------

@btn-default: blue;
