<template>
  <div>
    <!--进度导航-->
    <process :current-step="currentStep"></process>
    <div v-if="judgeStep">
      <div style="background: white;margin-bottom:20px;">
        <text-field type="text" label="登录名" placeholder="请输入登录名" :value.sync="formData.loginName"></text-field>
        <text-field type="text" label="姓名" placeholder="请输入真实姓名" :value.sync="formData.name"></text-field>
        <div class="id-type">
          <div class="it-label">证件类型</div>
          <div class="it-content">
            <button :class="{'color-change':jugdeChange}" @click="isPicker=!isPicker">{{pickedText}}</button>
            <div class="password-switch">
              <i class="icon icon-lock_open" style="font-size: 24px;"></i>
            </div>
          </div>
        </div>
        <!--证件类型组件-->
        <cert-picker :show.sync="isPicker" :value.sync="pickedText" :data.sync="idtype"></cert-picker>
        <text-field type="text" label="证件号码" placeholder="请输入证件号码" :value.sync="formData.idNo"></text-field>
        <form-group>
          <text-field slot="left" type="text" label="验证字符" placeholder="请输入下图中的字符"
                      :value.sync="formData.captchaCode"></text-field>
          <item-form slot="right">
            <div class="catchCode">
              <img :src="catchCodeUrl" class="{'url-exist':catchCodeStatus}" alt="重新获取" @click="getOldLoginCaptcha"
                   v-show="!catchCodeReload">
              <spinner :size="20" :icon="2" v-show="catchCodeReload"></spinner>
            </div>
          </item-form>
        </form-group>
      </div>
    </div>
    <div v-else>
      <div style="background: white;margin-bottom:20px;">
        <text-field type="password" label="新密码" placeholder="请输入新密码" :value.sync="formData.passWord"></text-field>
        <text-field type="password" label="确认密码" placeholder="请再次输入密码"
                    :value.sync="formData.confirmPassWord"></text-field>
        <text-field type="text" label="手机号码" placeholder="请输入有效手机号码" :value.sync="mobileTel"></text-field>
        <form-group>
          <text-field slot="left" type="text" label="验证码" placeholder="请输入短信验证码"
                      :value.sync="formData.verifyCode"></text-field>
          <item-form slot="right">
            <div class="catchCode">
              <button @click="getRandomcode" v-show="!msgCodeReload">
                <countdown text="获取验证码" :active.sync="activeTimer" :during="59" format="S秒"></countdown>
              </button>
              <spinner :size="20" :icon="2" v-show="msgCodeReload"></spinner>
            </div>
          </item-form>
        </form-group>
      </div>
    </div>
    <div style="margin: 0px 10px;">
      <button fill color="blue" @click="handleSubmit" raised>下一步</button>
    </div>
  </div>
</template>
<script>
  import process from '../components/findProcess.vue'
  import certPicker from '../components/certificatePicker.vue'
  import webApi from 'src/libs/webapi'
  import webApiConfig from '../../../libs/webapiConfig'
  import * as utils from '../../../libs/utils'

  // 初始化显示状态
  function initState(loginName = true, name = true, idType = true, idNo = true, captchaCode = true, passWord = false, confirmPassWord = false, verifyCode = false) {
    return {loginName, name, idType, idNo, captchaCode, passWord, confirmPassWord, verifyCode}
  }
  // 初始化文本域值
  function initFormData(loginName = '', name = '', idType = '0', idNo = '', captchaCode = '', passWord = '', confirmPassWord = '', verifyCode = '') {
    return {loginName, name, idType, idNo, captchaCode, passWord, confirmPassWord, verifyCode}
  }
  /*初始化各种字段*/
  const FiledName = {
    loginName: '登录名',
    name: '真实姓名',
    idType: '证件类型',
    idNo: '证件号码',
    captchaCode: '图片验证码',
    passWord: '密码',
    confirmPassWord: '确认密码',
    verifyCode: '短信验证码'
  }
  export default{
    created: function () {
      this.getOldLoginCaptcha()
    },
    /**监听证件类型输入框值发生改变时调用方法*/
    watch: {
      pickedText: function (value) {
        this.jugdeChange = true;
        this.formData.idType = this.idtype
      }
    },
    components: {
      process,
      certPicker
    },
    data() {
      return {
        currentStep: 1,
        judgeStep: true,//判断注册时进行的是第一步还是第二步
        isPicker: false,
        pickedText: '身份证',
        state: initState(),
        formData: initFormData(),
        jugdeChange: true,
        checkboxData: ['阅读并同意《服务协议》'],
        checkbox: ['阅读并同意《服务协议》'],
        catchCodeReload: true,
        catchCodeUrl: '',
        catchCodeStatus: false,//判断图片url是否存在
        mobileTel: '',
        msgCodeReload: true,
        activeTimer: false,
        idtype: ''
      }
    },
    methods: {
      /**点击提交按钮时调用方法*/
      handleSubmit(){
        (this.judgeStep) ? this.submitOne() : this.submitTwo()
      },
      /** 表单验证*/
      checkForm: function () {
        let needChecks = Object.keys(this.state).filter((item) => this.state[item] === true)
        for (let i = 0; i < needChecks.length; i++) {
          let _key = needChecks[i]
          let _value = this.formData[needChecks[i]]
          // 通用验证规则 非空并且至少四位字符
          if (/\S{1,30}/g.test(_value) == false) {
            return `${FiledName[_key]} 不能为空`
          }
        }
        return null
      },
      /**获取图片验证码方法*/
      getOldLoginCaptcha: async function () {
        this.catchCodeReload = true
        let _param = webApiConfig.report.loginOldCaptcha.param
        let res = await webApi.report.loginOldCaptcha(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 找回密码时获取图片验证码异常
          this.catchCodeReload = false
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        // 更新图片验证码状态
        this.catchCodeUrl = res.body.result
        this.catchCodeStatus = true
      },
      /**获取短信验证码方法*/
      async getRandomcode(){
        if (this.activeTimer === true) {
          return false
        }
        this.msgCodeReload = true
        if (utils.isMobile(this.mobileTel)) {
          let _param = webApiConfig.report.newRegisterGetPhoneCode.param
          _param.mobileTel = this.mobileTel
          let res = await webApi.report.fpGetPhoneCode(_param)
          if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
            // todo 异常埋点 找回密码时获取短信验证码方法
            let msg = res.msg || 'errorCode:6666'
            this.$root.alert(msg)
            this.msgCodeReload = false
            return
          }
          this.msgCodeReload = false
          this.activeTimer = true
        } else {
          this.msgCodeReload = false
          this.$root.alert('手机号码格式错误')
        }
      },
      /**找回密码时第一次提交方法*/
      async submitOne(){
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        }
        let _param = webApiConfig.report.fpSubLoginName.param
        _param.loginName = this.formData.loginName
        _param.name = this.formData.name
        _param.idType = this.formData.idType
        _param.idNo = this.formData.idNo
        _param.captchaCode = this.formData.captchaCode
        let res = await webApi.report.fpSubLoginName(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 getValiCode
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        this.judgeStep = false
        this.mobileTel = res.body.result.mobileTel
        this.state = initState(false, false, false, false, false, true, true, true, true)
        this.getRandomcode()
      },
      /**第二次表单验证提交方法*/
      async submitTwo(){
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        }
        let _param = webApiConfig.report.fpSetPassword.param
        _param.passWord = this.formData.passWord
        _param.confirmPassWord = this.formData.confirmPassWord
        _param.verifyCode = this.formData.verifyCode
        _param.mobileTel = this.mobileTel

        let res = await
        webApi.report.fpSetPassword(_param)

        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '20010') {
          // todo 异常埋点 getValiCode
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }

        let mockData = res.body.result
        let mockDataKeys = []
        for (let i = 0; i < 10; i++) {
          if (!mockData[`kbaList[${i}].question`]) {
            break
          }
          mockDataKeys.push(`kbaList[${i}].question`)
          for (let n = 1; n < 10; n++) {
            if (!mockData[`kbaList[${i}].options${n}`]) {
              break
            }
            mockDataKeys.push(`kbaList[${i}].options${n}`)
          }
        }
        this.$root.questions = mockData
        this.$root.mockDataKeys = mockDataKeys
        this.$router.go({name: 'question'})
      }
    }
  }
</script>
<style lang="less">
  .id-type {
    position: relative;
    padding-left: 16px;
    height: 5rem;
    line-height: 5rem;
    color: #7e848c;
    font-size: 1.4rem;
    display: flex;
    .it-label {
      width: 8rem;
    }
    .it-content {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      a {
        padding: 0;
        color: #d9dfe0;
        font-size: 1.6rem;
        display: block;
        width: 100%;
        text-align: left;
      }
      .color-change {
        color: #474a4f;
        font-size: 1.6rem;
      }
      .password-switch {
        display: block;
        position: absolute;
        top: 0;
        right: 16px;
        margin: auto;
        width: 24px;
        height: 24px;
        /* background: transparent; */
        text-align: center;
        font-size: 24px;
        z-index: 1600;
        i:before {
          content: "\E313";
        }
      }

    }
  }

  .id-type:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #d3d6db;
    display: block;
    z-index: 15;
  }

  .checkbox {
    display: block;
    left: 16px;
  }
</style>
