<template>
    <div>
      <!--登录之后信息提示-->
      <div v-if="okStep" style="margin-bottom:1.5rem;">
        <info-tip v-bind:class="{'success-info':state.successTip}" :text="text" :value="value"></info-tip>
      </div>
      <div v-else style="background: white;margin-bottom:20px;">
        <text-field type="text" label="姓名" placeholder="请输入真实姓名" :value.sync="formData.name"></text-field>
        <div class="id-type">
          <div class="it-label">证件类型</div>
          <div class="it-content">
            <button :class="{'color-change':jugdeChange}" @click="isPicker=!isPicker">{{pickedText}}</button>
            <div class="password-switch">
              <i class="icon icon-lock_open" style="font-size: 24px;"></i>
            </div>
          </div>
        </div>
        <text-field type="text" label="证件号码" placeholder="请输入证件号码" :value.sync="formData.idNo"></text-field>
        <!--证件类型组件-->
        <cert-picker :show.sync="isPicker" :value.sync="pickedText" :data.sync="idtype"></cert-picker>
        <!--<text-field type="password" label="密码" placeholder="6-20位长度必须包含数字和字母" switch></text-field>-->
        <form-group>
          <text-field slot="left" type="text" label="验证字符" placeholder="请输入下图中的字符" :value.sync="formData.captchaCode"></text-field>
          <item-form slot="right">
            <div class="catchCode">
              <img :src="catchCodeUrl" alt="重新获取" class="{'url-exist':catchCodeStatus}" @click="getOldLoginCaptcha" v-show="!catchCodeReload">
              <spinner :size="20" :icon="2" v-show="catchCodeReload"></spinner>
            </div>
          </item-form>
        </form-group>
      </div>
      <div style="margin: 0px 10px;">
        <button fill color="blue" @click="handleSubmit" raised>{{submitText}}</button>
      </div>
    </div>
</template>
<script>
  import certPicker from '../components/certificatePicker.vue'
  import webApi from 'src/libs/webapi'
  import webApiConfig from '../../../libs/webapiConfig'
  import infoTip from '../components/msgTipsblock.vue'
  // 初始化显示状态
  function initState(name = true, idType = true, idNo = true, captchaCode = true) {
    return {name, idType, idNo, captchaCode}
  }
  // 初始化文本域值
  function initFormData(name = '', idType = '0', idNo = '', captchaCode = '') {
    return {name, idType, idNo, captchaCode}
  }
  /**初始化各种字段*/
  const FiledName = {
    name: '真实姓名', idType: '证件类型', idNo: '证件号码', captchaCode: '图片验证码'
  }
  export default{
    data() {
      return {
        jugdeChange:true,
        isPicker: false,
        state: initState(),
        pickedText:'身份证',
        catchCodeReload: true,
        catchCodeUrl: '',
        catchCodeStatus: false,//判断图片url是否存在
        formData: initFormData(),
        submitText: '下一步',
        okStep: false,
        text:'您的登录名已短信发送至平台预留的手机号码,请查收',
        value:'error_outline',//'highlight_off'
        idtype: ''
      }
    },
    methods: {
      /**点击提交按钮时调用方法*/
      handleSubmit(){
        if(this.okStep){
          this.sure()
        }else{
          this.findLoginName()
        }
      },
      /** 表单验证*/
      checkForm: function () {
        let needChecks = Object.keys(this.state).filter((item) => this.state[item] === true)
        for (let i = 0; i < needChecks.length; i++) {
          let _key = needChecks[i]
          let _value = this.formData[needChecks[i]]
          // 通用验证规则 非空并且至少四位字符
          if (/\S{1,30}/g.test(_value) == false) {
            return `${FiledName[_key]} 不能为空`
          }
        }
        return null
      },
      /**进入页面获取图片验证码方法*/
      getOldLoginCaptcha: async function () {
        this.catchCodeReload = true
        let _param = webApiConfig.report.loginOldCaptcha.param
        let res = await webApi.report.loginOldCaptcha(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 获取图片验证码异常埋点
          this.catchCodeReload = false
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        // 更新图片验证码状态
        this.catchCodeUrl = res.body.result
        this.catchCodeStatus = true
      },
      /**找回登录名方法*/
      async findLoginName(){
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        }
        let _param = webApiConfig.report.findLoginName.param
        _param.name = this.formData.name
        _param.idType = this.formData.idType
        _param.idNo = this.formData.idNo
        _param.captchaCode = this.formData.captchaCode
        let res = await webApi.report.loginOld(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 找回登录名方法异常
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        this.okStep = true
        this.submitText = '确定'
      },
      /**成功之后点击确定时调用方法*/
      sure(){
        this.$router.go({name:'home'})
      }
    },
    created: function () {
      this.getOldLoginCaptcha()
    },
    /**监听证件类型选择值发生改变时方法*/
    watch: {
      pickedText : function (value) {
        this.jugdeChange = true;
        this.formData.idType = this.idtype
      }
    },
    components: {
      certPicker,
      infoTip
    }
  }
</script>
<style lang="less">
  .id-type{
    position: relative;
    padding-left: 16px;
    height: 5rem;
    line-height:5rem;
    color: #7e848c;
    font-size: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .it-label{
      width:8rem;
    }
    .it-content{
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      a{
        padding:0;
        color: #d9dfe0;
        font-size: 1.6rem;
        display:block;
        width:100%;
        text-align:left;
      }
      .color-change{
        color: #474a4f;
        font-size: 1.6rem;
      }
      .password-switch{
        display: block;
        position: absolute;
        top: 0;
        right: 16px;
        margin: auto;
        width: 24px;
        height: 24px;
        /* background: transparent; */
        text-align: center;
        font-size: 24px;
        z-index: 1600;
        i:before{
          content: "\E313";
        }
      }

    }
  }
  .id-type:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #d3d6db;
    display: block;
    z-index: 15;
  }
</style>
