<template>
  <div>
    <!--进度导航-->
    <process :current-step="currentStep"></process>
    <!--表单-->
    <div v-if="!state.successTip" style="background: white; margin-bottom: 20px;">
      <text-field type="text" label="登录名" placeholder="6-16位数字字母" :value.sync="formData.loginName"
                  v-if="state.loginName"></text-field>
      <text-field type="password" label="密码" placeholder="6-20位长度必须包含数字和字母" :value.sync="formData.passWord"
                  v-if="state.passWord" switch></text-field>
      <form-group v-if="state.captchaCode">
        <text-field slot="left" type="text" label="验证字符" placeholder="请输入下图中的字符" :value.sync="formData.captchaCode"></text-field>
        <item-form slot="right">
          <div class="catchCode">
            <img :src="catchCodeUrl" class="{'url-exist':catchCodeStatus}" alt="重新获取" @click="getOldLoginCaptcha" v-show="!catchCodeReload">
            <spinner :size="20" :icon="2" v-show="catchCodeReload"></spinner>
          </div>
        </item-form>
      </form-group>
      <form-group v-if="state.tradeCode">
        <text-field slot="left" type="text" label="验证码" placeholder="请输入身份验证码"
                    :value.sync="formData.tradeCode"></text-field>
      </form-group>
      <p class="phone-code-info" v-if="state.tradeCode">请您将手机短信收到的身份验证码填入并提交</p>
    </div>
    <!--登陆成功后信息提示-->
    <info-tip v-if="state.successTip" v-bind:class="{'success-info':state.successTip}" :text="text" :value="value"></info-tip>
    <div class="btnBox">
      <button fill color="blue" @click="handleSubmit" raised>{{submitText}}</button>
    </div>
    <!--立即注册-找回登陆名和密码-->
    <div v-if="currentStep == 1">
      <bottom-sheet></bottom-sheet>
    </div>
  </div>
</template>
<script>
  import process from '../components/process.vue'
  import * as utils from '../../../libs/utils'
  import webApi from 'src/libs/webapi'
  import webApiConfig from '../../../libs/webapiConfig'
  import infoTip from '../components/msgTipsblock.vue'
  import bottomSheet from '../components/actionSheet.vue'
  // 初始化显示状态
  function initState(loginName = true, passWord = true, captchaCode = true, tradeCode = false, successTip = false) {
    return {loginName, passWord, captchaCode, tradeCode, successTip}
  }
  // 初始化文本域值
  function initFormData(loginName = '', passWord = '', captchaCode = '', tradeCode = '') {
    return {loginName, passWord, captchaCode, tradeCode}
  }
  /**初始化各种字段*/
  const FiledName = {
    loginName: '登陆名称', passWord: '登录密码', captchaCode: '图片验证码', tradeCode: '身份验证码'
  }
  export default{
    data() {
      return {
        currentStep: 1,//控制进度条状态字段
        state: initState(),//控制输入框显示状态
        catchCodeReload: true,//判断是否显示加载图片验证码logo状态
        formData: initFormData(),
        catchCodeUrl: '',//图片验证码url字段
        submitText:'登录',
        htmlToken:'',
        text:'您的信用信息查询请求已提交',
        value:'error_outline',//'highlight_off'
        catchCodeStatus: false//判断图片url是否存在
      }
    },
    components: {
      process,
      infoTip,
      bottomSheet
    },
    created: function () {
      /**进入页面获取图片验证码*/
      this.getOldLoginCaptcha()
    },
    methods: {
      /**点击提交按钮时触发方法*/
      handleSubmit: function () {
        if(this.state.successTip){
          /**登录成功跳转回汇总页面*/
          window.location="../interacts/success.html"
        } else {
          if(!this.state.tradeCode){
            /**老用户登录*/
            this.oldUserLogin()
          } else {
            /**老用户登录下载征信报告方法*/
            this.downloadCreditR()
          }
        }
      },

      /** 表单验证*/
      checkForm: function () {
        let needChecks = Object.keys(this.state).filter((item) => this.state[item] === true)
        for (let i = 0; i < needChecks.length; i++) {
          let _key = needChecks[i]
          let _value = this.formData[needChecks[i]]
          // 通用验证规则 非空并且至少四位字符
          if (/\S{4,30}/g.test(_value) == false) {
            return `${FiledName[_key]} 不能为空`
          }
        }
        return null
      },
      /**获取图片验证码方法*/
      getOldLoginCaptcha: async function () {
        this.catchCodeReload = true
        let _param = webApiConfig.report.loginOldCaptcha.param
        let res = await webApi.report.loginOldCaptcha(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 老用户登录时获取图片验证码异常
          this.catchCodeReload = false
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        // 更新图片验证码状态
        this.catchCodeUrl = res.body.result
        this.catchCodeStatus = true
      },
      /**老用户登录方法*/
      async oldUserLogin(){
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        }

        let _param = webApiConfig.report.loginOld.param
        _param.loginName = this.formData.loginName
        _param.passWord = this.formData.passWord
        _param.captchaCode = this.formData.captchaCode

        this.$root.showLoader(true, '正在登陆中，请稍候')
        let res = await webApi.report.loginOld(_param)
        this.$root.showLoader(false)

        if (!res || !res.body || !res.body.errorCode) {
          // todo 异常埋点 getValiCode errorCode 6666 统一文案
          let msg = res.msg || '无法连接服务器'
          this.$root.alert(msg)
          return
        }
        switch (res.body.errorCode) {
          case '20009'://登录成功，查询码仍然有效
            this.state = initState(false, false, false, true,false)
            this.currentStep++
            this.submitText = '提交'
            break
          case '20010'://登录成功，查询码需重新申请，获取申请问题集成功
            let mockData = res.body.result
            let mockDataKeys = []

            // 问题及选项排序
            for (let i = 0; i < 10; i++) {
              if (!mockData[`kbaList[${i}].question`]) {
                break
              }
              mockDataKeys.push(`kbaList[${i}].question`)
              for(let n = 1; n < 10; n++) {
                if(!mockData[`kbaList[${i}].options${n}`]){
                  break
                }
                mockDataKeys.push(`kbaList[${i}].options${n}`)
              }
            }

            // 将问题数据全局存储并跳转到问题界面
            this.$root.questions = mockData
            this.$root.mockDataKeys = mockDataKeys
            this.$router.go({name:'question'})
            break
          case '20024'://登录成功，发送动态码成功
            this.htmlToken = res.body.result.htmlToken
            break
          case '20025'://安全级别高，建议线下申请查询码后再登录认证
            this.state = initState(false, false, false, false,true)
            this.currentStep = 3
            this.text = '安全级别高，建议线下申请查询码后再登录认证'
            this.submitText = '确定'
            break
          default:
            //todo 异常埋点  10001,10002,90000,90002
            return this.alert(res.msg)
        }
      },
      /**登录成功,输入身份验证码下载征信报告*/
      async downloadCreditR(){
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        }

        let _param = webApiConfig.report.oldDownReport.param
        _param.loginName = this.formData.loginName
        _param.tradeCode = this.formData.tradeCode
        _param.htmlToken = this.htmlToken

        this.$root.showLoader(true)
        let res = await webApi.report.oldDownReport(_param)
        this.$root.showLoader(false)

        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 老用户登录下载征信报告时异常
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        this.state = initState(false, false, false, false,true)
        this.currentStep++
        this.submitText = '确定'
      }
    }
  }
</script>

<style lang="less">
  .catchCode {
    width: 8rem;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .btnBox,.phone-code-info{
    padding:0 1rem;
  }
  .success-info{
    margin-bottom:2rem;
  }
</style>

