<template>
  <div>
    <!--进度导航组件-->
    <process :current-step="currentStep"></process>
    <div class=""></div>
    <div v-if="state.questionBox" class="question-box">
      <div class="info">
        <h2>获取身份验证码,需要回答5个问题</h2>
        <h2 class="countdown-box">
          10分钟答题时间倒计时:
          <countdown text="" :active.sync="timerActive" :during="600" format="M分S秒"></countdown>
        </h2>
      </div>
      <div class="question-item" v-for="(index,item) in mockDataKeys">
        <h2 class="item-tit" v-if="item.length == 19 && item.indexOf('question') > 0">
          <div class="it-left">{{parseInt(item.split('.')[0].substring(8,9))+1}}</div>
          <div class="it-right">{{mockData[item]}}</div>
        </h2>
        <radio @click="addCheck(item)" v-if="item.indexOf('option') > 0 && item.substr(item.length-1,1) < 6"
               :label="mockData[item]" :value="item.substr(item.length-1,1)" :model.sync=""
               :name="item.split('.')[0]"></radio>
      </div>
    </div>
    <info-tip :text="text" :value="value"></info-tip>
    <div v-show="state.successText" class="info-success">
      <p>24小时后征信中心以短信方式发送身份验证码到您手机上，请注意查收</p>
      <p>为保障您的信息安全，您申请的信用信息将于<span class="blue">7日</span>后自动清理，请及时获取查询结果</p>
    </div>
    <div :class="{'btn-box':state.questionBox,'btn-wrap': !state.questionBox}">
      <button fill color="blue" @click="handleSubmit" raised>确定</button>
    </div>
  </div>

</template>
<script>
  import process from '../components/registerPro.vue'
  import infoTip from '../components/msgTipsblock.vue'
  import * as utils from '../../../libs/utils'
  import webApi from 'src/libs/webapi'
  import webApiConfig from '../../../libs/webapiConfig'

  // 模拟数据
  // let mockData = require('./mockQuestion.json')

  // 初始化显示状态
  function initState(questionBox = true, msgTip = false, successText = false) {
    return {questionBox, msgTip, successText}
  }
  export default{
    data(){
      return {
        currentStep: 3,
        mockDataKeys: this.$root.mockDataKeys,
        mockData: this.$root.questions,
        radio1: '',
        timerActive: true,
        toasts: [],
        state: initState(),
        text: '您的信用信息查询请求已提交',
        value: 'error_outline'//'highlight_off'
      }
    },
    components: {
      process,
      infoTip
    },
    methods: {
      /**点击提交按钮方法*/
      handleSubmit: function () {
        this.state.questionBox ? this.questionSub() : this.sureFun()
      },
      /**存储选择值方法*/
      addCheck: function (item) {
        let value = item.substr(item.length - 1, 1)
        let key = item.substring(0, 10)
        let answerresult = `${key}.answerresult`
        let options = `${key}.options`
        this.mockData[answerresult] = value
        this.mockData[options] = value
        console.log(JSON.stringify(mockData))
      },
      /**进行表单验证方法*/
      checkForm: function () {
        let mockData = this.mockData
        for (var i in mockData) {
          if (i.indexOf('answerresult') > 0) {
            if (mockData[i] == '') {
              return this.$root.alert('问题必须都填')
            }
          }
        }
        return null
      },
      /**提交回答问题方法*/
      async questionSub(){
        let check_result = this.checkForm()
        if (check_result !== null) {
          return;
        }
        let _param = webApiConfig.report.oldapplyCode.param
        _param.questions = this.mockData
        let res = await webApi.report.oldapplyCode(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 提交回答问题异常
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        this.state = initState(false, false, true)
      },
      sureFun: function () {
        /**登录成功跳转回汇总页面*/
        window.location = "../interacts/success.html"
      }
    }
  }
</script>
<style lang="less">
  .question-box {
    padding-bottom: 6rem;
    .info {
      padding-left: 2rem;
      border-bottom: 1px solid #cedbdf;
    }
    .item-tit {
      display: box;
      width: 100%;
      display: -webkit-box;
      .it-left {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
      }
      .it-right {
        -webkit-box-flex: 1.0;
        box-flex: 1.0;
        padding-right: 2rem;
        line-height: 2rem;
      }
    }
    .radio {
      display: block;
      margin-left: 2rem;
    }
  }

  .btn-box {
    padding: 1rem 0;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .info-success {
    padding: 1rem 1.5rem;
    .blue {
      color: #67bae9;
    }
  }

  .btn-wrap {
    padding: 1rem;
  }
</style>
