<template>
  <div>
    <!--进度导航-->
    <process :current-step="currentStep"></process>
    <div v-if="!judgePicCode">
      <div v-if="judgeStep">
        <div style="background: white;">
          <text-field type="text" label="姓名" placeholder="请输入真实姓名" :value.sync="formData.name"></text-field>
          <div class="id-type">
            <div class="it-label">证件类型</div>
            <div class="it-content">
              <button :class="{'color-change':jugdeChange}" @click="isPicker=!isPicker">{{pickedText}}</button>
              <div class="password-switch">
                <i class="icon icon-lock_open" style="font-size: 24px;"></i>
              </div>
            </div>
          </div>
          <text-field type="text" label="证件号码" placeholder="请输入证件号码" :value.sync="formData.idNo"></text-field>
          <!--证件类型组件-->
          <cert-picker :show.sync="isPicker" :value.sync="pickedText" :data.sync="idtype"></cert-picker>
          <form-group>
            <text-field slot="left" type="text" label="验证字符" placeholder="请输入下图中的字符" :value.sync="formData.captchaCode"></text-field>
            <item-form slot="right">
              <div class="catchCode">
                <img :src="catchCodeUrl" class="{'url-exist':catchCodeStatus}" alt="重新获取" @click="getOldLoginCaptcha" v-show="!catchCodeReload">
                <spinner :size="20" :icon="2" v-show="catchCodeReload"></spinner>
              </div>
            </item-form>
          </form-group>
        </div>
        <checkbox v-for="item in checkboxData" name="checkbox" :model.sync="checkbox" :value="item" :label="item"></checkbox>
      </div>
      <div v-else>
        <div style="background: white;margin-bottom:20px;">
          <text-field type="text" label="登录名" placeholder="6-16位数字字母" :value.sync="formData.loginName" :blur="loginNameBlur"></text-field>
          <text-field type="password" label="密码" placeholder="6-20位长度必须包含数字和字母" :value.sync="formData.passWord"></text-field>
          <text-field type="password" label="确认密码" placeholder="请再次输入密码" :value.sync="formData.confirmPassWord" :blur="checkPassword"></text-field>
          <text-field type="email" label="电子邮箱" placeholder="请输入有效邮箱" :value.sync="formData.email"></text-field>
          <text-field type="tel" label="手机号码" placeholder="请输入有效手机号码" :value.sync="formData.mobileTel"></text-field>
          <form-group>
            <text-field slot="left" type="text" label="验证码" placeholder="请输入短信验证码"
                        :value.sync="formData.verifyCode"></text-field>
            <item-form slot="right">
              <div class="catchCode">
                <button @click="getRandomcode" v-show="!msgCodeReload">
                  <countdown text="获取验证码" :active.sync="activeTimer" :during="59" format="S秒"></countdown>
                </button>
                <spinner :size="20" :icon="2" v-show="msgCodeReload"></spinner>
              </div>
            </item-form>
          </form-group>
        </div>
      </div>
    </div>
    <div v-else>
      <!--登录之后信息提示组件-->
      <info-tip v-bind:class="{'success-info':state.successTip}" :text="text" :value="value"></info-tip>
      <div style="background:white;margin:1.5rem 0;">
        <form-group>
          <text-field slot="left" type="text" label="验证字符" placeholder="请输入下图中的字符" :value.sync="secondCaptchaCode"></text-field>
          <item-form slot="right">
            <div class="catchCode">
              <img :src="catchCodeUrl" @click="getOldLoginCaptcha" v-show="!catchCodeReload">
              <spinner :size="20" :icon="2" v-show="catchCodeReload"></spinner>
            </div>
          </item-form>
        </form-group>
      </div>
    </div>
    <div style="margin: 0px 10px;">
      <button fill color="blue" @click="handleSubmit" raised>下一步</button>
    </div>
    <div v-show="judgeStep" class="login-area">
      <a @click="loginHref" href="javascript:void(0)">立即登录</a>
    </div>
  </div>
</template>
<script>
  import process from '../components/registerPro.vue'
  import certPicker from '../components/certificatePicker.vue'
  import * as utils from '../../../libs/utils'
  import webApi from 'src/libs/webapi'
  import webApiConfig from '../../../libs/webapiConfig'
  import countdown from 'src/components/countdown.vue'
  import infoTip from '../components/msgTipsblock.vue'
  // 初始化显示状态
  function initState(name = true, idType = true, idNo = true, captchaCode = true, loginName = false, passWord = false, confirmPassWord = false, email = false, mobileTel = false, verifyCode = false) {
    return {name, idType, idNo, captchaCode, loginName, passWord, confirmPassWord, email, mobileTel, verifyCode}
  }
  // 初始化文本域值
  function initFormData(name = '', idType = '0', idNo = '', captchaCode = '', loginName = '', passWord = '', confirmPassWord = '', email = '', mobileTel = '', verifyCode = '') {
    return {name, idType, idNo, captchaCode, loginName, passWord, confirmPassWord, email, mobileTel, verifyCode}
  }
  /*初始化各种字段*/
  const FiledName = {
    name: '姓名',idType: '证件类型', idNo: '证件号码', captchaCode: '图片验证码', loginName: '登录名', passWord: '密码', confirmPassWord: '确认密码', email: '电子邮箱', mobileTel: '手机号码', verifyCode: '短信验证码'
  }
  export default{
    data() {
      return {
        currentStep: 1,
        judgeStep:true,//判断注册时进行的是第一步还是第二步
        isPicker: false,
        pickedText:'身份证',
        jugdeChange:true,
        checkboxData: ['阅读并同意《服务协议》'],
        checkbox: ['阅读并同意《服务协议》'],
        state: initState(),
        formData: initFormData(),
        catchCodeReload:true,
        catchCodeUrl: '',
        catchCodeStatus: false,//判断图片url是否存在
        htmlToken: '',
        loginNameType: false,
        checkPasswordSame: false,
        msgCodeReload: false,
        activeTimer: false,
        tcId: '',
        idtype: '',
        judgePicCode: false,
        text:'目前系统尚未收录自购的信息对您的身份进行“问题验证”',
        value:'error_outline',//'highlight_off'
        secondCaptchaCode: ''
      }
    },
    methods: {
      /**点击提交按钮时调用方法*/
      handleSubmit: function () {
        if(!this.judgePicCode){
          if(this.judgeStep){
            if(this.checkbox.length == '1'){
              /**第一次表单提交方法*/
              this.submitFirst()
            }else{
              this.$root.alert('请同意《服务协议》')
            }
          } else {
            /**第二次表单提交方法*/
            this.submitTwo()
          }
        }else{
          /**第三次表单提交方法*/
          this.submitThree()
        }
      },
      /** 表单验证*/
      checkForm: function () {
        let needChecks = Object.keys(this.state).filter((item) => this.state[item] === true)
        console.log(needChecks)
        for (let i = 0; i < needChecks.length; i++) {
          let _key = needChecks[i]
          let _value = this.formData[needChecks[i]]
          // 通用验证规则 非空并且至少四位字符
          if (/\S{1,30}/g.test(_value) == false) {
            return `${FiledName[_key]} 不能为空`
          }
        }
        return null
      },
      /**新用户注册时获取图片验证码方法*/
      async getOldLoginCaptcha(){
        this.catchCodeReload = true
        let _param = webApiConfig.report.loginOldCaptcha.param
        let res = await webApi.report.loginOldCaptcha(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 新用户注册时获取图片验证码异常
          this.catchCodeReload = false
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        // 更新图片验证码状态
        this.catchCodeUrl = res.body.result
        this.catchCodeStatus = true
      },
      /**新用户注册阶段第一次提交方法*/
      async submitFirst(){
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        }
        let _param = webApiConfig.report.newSubIdNo.param
        _param.name = this.formData.name
        _param.idType = this.formData.idType
        _param.idNo = this.formData.idNo
        _param.captchaCode = this.formData.captchaCode
        let res = await webApi.report.newSubIdNo(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 新用户注册时第一次提交方法异常
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        this.currentStep = 2
        this.judgeStep = false
        this.htmlToken = res.body.result.htmlToken
        this.state = initState(false,false,false,false,true,true,true,true,true,true)
      },
      /**新用户注册时第二次提交方法*/
      async submitTwo(){
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        } else{
          if(this.loginNameType == true && this.checkPasswordSame == true){
            let _param = webApiConfig.report.newSubsupplement.param
            _param.loginName = this.formData.loginName
            _param.passWord = this.formData.passWord
            _param.confirmPassWord = this.formData.confirmPassWord
            _param.mobileTel = this.formData.mobileTel
            _param.email = this.formData.email
            _param.verifyCode = this.formData.verifyCode
            _param.htmlToken = this.htmlToken
            _param.tcId = this.tcId
            let res = await webApi.report.newSubsupplement(_param)
            if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
              // todo 异常埋点 新用户注册时第二次提交方法异常
              let msg = res.msg || 'errorCode:6666'
              this.$root.alert(msg)
              return
            }
            this.judgePicCode = true
            this.getOldLoginCaptcha()
          }else{
            return this.$root.alert('登录名格式错误或者密码输入不一致')
          }
        }
      },
      /**新用户注册时三次提交方法*/
      async submitThree(){
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        }
        let _param = webApiConfig.report.loginOld.param
        _param.loginName = this.formData.loginName
        _param.passWord = this.formData.passWord
        _param.captchaCode = this.secondCaptchaCode
        let res = await webApi.report.loginOld(_param)
        if (!res || !res.body || !res.body.errorCode) {
          // todo 异常埋点 新用户注册时第三次提交方法异常
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          return
        }
        switch (res.body.errorCode) {
          case '20010'://登录成功，查询码需重新申请，获取申请问题集成功
            let mockData = res.body.result
            let mockDataKeys = []
            for (let i = 0; i < 10; i++) {
              if (!mockData[`kbaList[${i}].question`]) {
                break
              }
              mockDataKeys.push(`kbaList[${i}].question`)
              for(let n = 1; n < 10; n++) {
                if(!mockData[`kbaList[${i}].options${n}`]){
                  break
                }
                mockDataKeys.push(`kbaList[${i}].options${n}`)
              }
            }
            this.$root.questions = mockData
            this.$root.mockDataKeys = mockDataKeys
            this.$router.go({name:'question'})
            break
          default:
            //todo 异常埋点  10001,10002,90000,90002
            return this.alert(res.msg);
        }
      },
      /**登录名输入框失去焦点调用方法*/
      loginNameBlur(){
        if(utils.isLoginName(this.formData.loginName) == true){
          this.checkloginName()
        }else{
          return this.$root.alert('登录名格式错误')
        }
      },
      /**校验登录名字是否存在方法*/
      async checkloginName(){
        let _param = webApiConfig.report.newVerifyName.param
        _param.loginName = this.formData.loginName
        let res = await webApi.report.newVerifyName(_param)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 校验登录名字是否存在方法异常
          let msg = res.msg || 'errorCode:6666'
          this.$root.alert(msg)
          this.loginNameType = false
          return
        }
        this.loginNameType = true
      },
      /**校验两次输入的密码是否相同*/
      checkPassword(){
        if(this.formData.confirmPassWord === this.formData.passWord){
          this.checkPasswordSame = true
        }else{
          this.checkPasswordSame = false
          this.$root.alert('两次输入密码不一致')
        }
      },
      /**新用户注册阶段获取短信验证码方法*/
      async getRandomcode(){
        if(this.activeTimer === true){
          return false
        }
        this.msgCodeReload = true
        if(utils.isMobile(this.formData.mobileTel)){
          let _param = webApiConfig.report.newRegisterGetPhoneCode.param
          _param.mobileTel = this.formData.mobileTel
          let res = await webApi.report.newRegisterGetPhoneCode(_param)
          if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
            // todo 异常埋点 新用户注册阶段获取短信验证码异常
            let msg = res.msg || 'errorCode:6666'
            this.$root.alert(msg)
            this.msgCodeReload = false
            return
          }
          this.msgCodeReload = false
          this.activeTimer = true
          this.tcId = res.body.result.tcId
        }else{
          this.msgCodeReload = false
          this.$root.alert('手机号码格式错误')
        }
      },
      /**点击立即登录按钮时进行跳转*/
      loginHref(){
        this.$router.go({name:'home'})
      }
    },
    watch: {
      /**监听证件类型值进行改变时方法*/
      pickedText : function (value) {
        this.jugdeChange = true;
        this.formData.idType = this.idtype
      }
    },
    created: function () {
      /**进入页面调用获取图片验证码方法*/
      this.getOldLoginCaptcha()
    },
    components: {
      process,
      certPicker,
      countdown,
      infoTip
    }
  }
</script>
<style lang="less">
  .id-type{
    position: relative;
    padding-left: 16px;
    height: 5rem;
    line-height:5rem;
    color: #7e848c;
    font-size: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .it-label{
      width:8rem;
    }
    .it-content{
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      a{
        padding:0;
        color: #d9dfe0;
        font-size: 1.6rem;
        display:block;
        width:100%;
        text-align:left;
      }
      .color-change{
        color: #474a4f;
        font-size: 1.6rem;
      }
      .password-switch{
        display: block;
        position: absolute;
        top: 0;
        right: 16px;
        margin: auto;
        width: 24px;
        height: 24px;
        /* background: transparent; */
        text-align: center;
        font-size: 24px;
        z-index: 1600;
        i:before{
          content: "\E313";
        }
      }

    }
  }
  .id-type:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #d3d6db;
    display: block;
    z-index: 15;
  }
  .checkbox{
    display:block;
    left:16px;
  }
  .login-area{
    text-align: center;
    height:5rem;
    line-height:5rem;
    a{
      color:#67bae9;
      text-decoration: none;
      font-size:12px;
    }
  }
</style>
