<template>
  <div>
    <tip text="钱站将通过您的信用卡评估您的信用额度"></tip>
    <div style="background: white; margin-bottom: 20px;">
      <item-form class="mailIconTop mail-list" v-for="mail in mailList">
        <a class="mailIcon" @click="goToMail(mail)" :style="'background-image:url('+mail.icon+')'">

        </a>
      </item-form>
    </div>
  </div>
</template>

<style lang="less">


  .mailIconTop.item-form {
    padding-left: 0;
  }
  .mailIcon {
    display: block;
    width: 100%;
    min-height: 5rem;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 40% auto;
    background-size: 40% auto;
  }

</style>

<script>

  export default {
    data(){
      return {
        mailList: [
          {name: 'QQ邮箱 ', icon: require('../assets/mails/mailList1.jpg'), url: 'http://mail.qq.com'},
          {name: '163邮箱', icon: require('../assets/mails/mailList2.jpg'), url: 'http://mail.163.com'},
          {name: '126邮箱', icon: require('../assets/mails/mailList3.jpg'), url: '126'},
          {name: '189邮箱', icon: require('../assets/mails/mailList4.jpg'), url: '189'},
          {name: '新浪邮箱', icon: require('../assets/mails/mailList5.jpg'), url: 'sina'},
        ]
      }
    },
    methods: {
      goToMail(mail) {
        if (mail.url.includes('http://')){
          window.location.href = mail.url;
          return
        }
        this.$router.go({name: 'mailForm' , params:{vender: mail.url}})
      }
    },
    components: {

    }
  }
</script>

