<template>
  <div id="app">
    <!--tip提示-->
    <tip text="使用有近期信用卡账单的邮箱,能帮助您拿到更高额度" v-if="state.tip"></tip>
    <!--mailFrom-->
    <div style="background: white; margin-bottom: 20px;">
      <form-group v-if="state.mail">
        <text-field slot="left" type="text" label="邮箱帐号" placeholder="请输入邮箱帐号"
                    :value.sync="formData.userName"></text-field>
        <item-form slot="right">
          <strong style="padding-right: 16px">{{mailVender[vender]}}</strong>
        </item-form>
      </form-group>
      <text-field type="password" label="邮箱密码" placeholder="请输入邮箱密码" icon="cancel" v-if="state.password"
                  :value.sync="formData.password"></text-field>
    </div>

    <div style="margin: 0px 10px;">
      <button fill raised color="blue" @click="handleSubmit">提交</button>
    </div>
    <!--alert-->
    <toast v-for="toast in toasts" :text="toast.text" :loading="toast.loading" :icon="toast.icon"
           :center="toast.center"></toast>
    <!--loader-->
    <indicator :show="indicator.show" :type="indicator.type" :text="indicator.text"
               :overlay-opacity="indicator.opactiy"></indicator>
  </div>
</template>

<script lang="babel">
  import webApi from 'src/libs/webapi'
  const STEP = {LOGIN: 1, /*邮箱登录*/}
  const FiledName = {userName: '手机号码', password: '服务密码'}
  const mailVender = {
    '126': '@126.com',
    '189': '@189.com',
    'sina': '@sina.com'
  }
  // 初始化显示状态
  function initState(mail = true, password = true, tip = true) {
    return {mail, password, tip}
  }
  // 初始化文本域值
  function initFormData(userName = '', password = '') {
    return {userName, password}
  }
  export default {
    created(){
      console.log(this.$data)

      //todo ajax请求失败 网络异常 统一处理?
      webApi.NetErrorCallBack = () => {
        this.showLoader(false)
        this.alert('无法连接服务器')
      }
    },
    data(){
      return {
        state: initState(),
        currentStep: STEP.LOGIN,
        toasts: [],
        mailVender,
        vender: this.$route.params.vender,
        formData: initFormData(),
        indicator: {
          show: false,
          type: 'toast'
        }
      }
    },
    methods: {
      /**点击按钮处理*/
      handleSubmit() {
        this.handleLogin()
      },
      /** 表单重置 */
      resetForm(){
        this.formData = initFormData()
      },
      /** 表单验证*/
      checkForm(){
        let needChecks = Object.keys(this.state).filter((item) => this.state[item] === true)
        for (let i = 0; i < needChecks.length; i++) {
          let _key = needChecks[i]
          let _value = this.formData[needChecks[i]]
          // 通用验证规则 非空并且至少四位字符
          if (/\S{4,30}/g.test(_value) == false) {
            return `${FiledName[_key]} 不能为空`
          }
        }
        return null
      },
      /** toast提示 */
      alert(msg){
        this.toasts.push({text: msg, icon: 'error', center: true})
        // 3秒后自动消失
        setTimeout(() => this.toasts.splice(0, 1), 3000)
      },
      /** loader */
      showLoader (isShow = false) {
        this.indicator = {show: isShow, type: 'toast', text: '加载中...'}
      },
      /** Mail登录 */
      async handleLogin() {
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.alert(checkResult)
        }
        try {
          let formData = this.formData;
          let mail = formData.userName + mailVender[this.vender]
          let _param = {
            email: mail,
            passwd: formData.password,
          }

          this.showLoader(true)
          let res = await webApi.mail.creditCardLogin(_param)
          this.showLoader(false)

          if (res.body && res.body.errorCode && res.body.errorCode !== '00000') {

            this.alert(res.body.msg)
            this.getCatchCode()
            this.formData.catchCode = ''
            // todo 异常埋点 登陆失败
            return
          }

          // todo 抓取帐单成功后的响应状态
          window.location.href = '/interacts/success.html'
        } catch (err) {
        }
      },
      components: {}
    }
  }
</script>
