<template>
  <div>
    <button-row>
      <button fill text="default" @click="goTo('crawing-bank.html')">银行流水</button>
    </button-row>
    <button-row>
      <button fill color="default" text="red" @click="goTo('crawing-mail.html')">信用卡邮箱</button>
    </button-row>
    <button-row>
      <button fill color="default" text="blue" @click="goTo('crawing-mobile.html')">手机运营商</button>
    </button-row>
    <button-row>
      <button fill color="default" text="green" @click="goTo('crawing-report.html')">征信报告</button>
    </button-row>
    <button-row>
      <button fill color="default" text="amber" @click="goTo('crawing-zima.html')">芝麻信用</button>
    </button-row>

    <button-row>
      <button fill color="blue" @click="goTo('example.html')"> 组件使用Demo</button>
    </button-row>

  </div>
</template>

<script>
  export default {
    data () {
      return {
        navShow: false
      }
    },
    methods: {
      goTo (path) {
        window.location.href = path
      }
    }
  }
</script>
<style lang="less">
  @import "../components/utils/_vars.less";
  @import "../components/utils/_mixins.less";

  html {
    font-size: 14px;
  }

  html, body {
    height: 100%;
    background: #EDF3F8;
    padding: 0;
    margin: 0;
  }

  #app {
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
  }

  .vline-left {
    .hairline(left, #d3d6db);
  }

  .layout-flex {
    display: flex;
  }

</style>
