<template>
    <div class="sheet-box">
      <div class="click-area">
        <a href="javascript:void(0)" @click="goRegister" class="register-btn">立即注册</a>
        <a href="javascript:void(0)" class="find-btn" @click="showActionSheet()">找回登录名/密码</a>
      </div>
      <action-sheet :actions="actionSheet.actions" :show.sync="actionSheet.show" :show-cancel="actionSheet.showCancel"></action-sheet>
    </div>
</template>
<style lang="less">
.sheet-box{
  .click-area{
    *zoom:1;
    height:44px;
    line-height:44px;
    font-size:12px;
    a{
      color:#67bae9;
    }
    :after{
      content: '\0020';
      display: block;
      height: 0;
      clear: both
    }
    .register-btn{
      float: left;
      margin-left:1rem;
    }
    .find-btn{
      float: right;
      margin-right:1rem;
    }

  }
  a{
    text-decoration: none;
    display:block;
    text-align: center;
  }
}
</style>
<script lang="babel">

    export default{
        data(){
            return{
              actionSheet: {
                show: false,
                showCancel: true,
                clickCancelClose: true,
                actions: [
                  {
                    name: '找回登录名',
                    click: () => { // 点击
                      //console.log('找回登录名')
                      this.$router.go({name:'findname'})
                    }
                  }, {
                    name: '找回密码',
                    click: () => {
                      //console.log('找回密码')
                      this.$router.go({name:'findpassword'})
                    }
                  }
                ]
              }
            }
        },
        methods: {
          showActionSheet (flag) {
            this.actionSheet.show = true
            this.actionSheet.showCancel = !flag
          },
          goRegister(){
            this.$router.go({name:'register'})
          }
        },
        components:{

        }
    }
</script>
