<template>
  <popup position="right" class="demo-popup-right" :show.sync="show">
    <picker :slots="certis" @picker-change="certiChange" :values="[certiValues]" ></picker>
    <div class="picker-result-text">您选择的证件类型是: <span  style="color:#000;">{{certiValues.text}}</span></div>
    <button text="关闭弹框" @click="show = false" fill color="red" raised></button>
  </popup>
</template>
<style>
  .picker-result-text{
    margin-top:50px;
    margin-bottom:30px;
    text-align: center;
    font-size: 12px;
  }
  .demo-popup-right .button-fill{
    margin:0 1rem;
  }
</style>
<script>
  //初始化证件类型
  const certificates = [
    {value: '0', text: '身份证'},
    {value: '1', text: '户口簿'},
    {value: '2', text: '护照'},
    {value: '3', text: '军官证'},
    {value: '4', text: '士兵证'},
    {value: '5', text: '港澳居民来往内地通行证'},
    {value: '6', text: '台湾同胞来往内地通行证'},
    {value: '7', text: '临时身份证'},
    {value: '8', text: '外国人居留证'},
    {value: '9', text: '警官证'},
    {value: 'A', text: '香港身份证'},
    {value: 'B', text: '澳门身份证'},
    {value: 'C', text: '台湾身份证'},
    {value: 'X', text: '其他证件'}
  ]
  export default{
    props: {
      show: {
        type: Boolean,
        default: false
      },
      value: {
        type: String,
        default: '身份证'
      },
      data: {
        type: String,
        default: '0'
      }
    },
    data(){
      return{
        certis: [{values: certificates}],
        certiValues: certificates[0]
      }
    },
    methods: {
      certiChange (values) {
        this.certiValues = values[0]
        this.value = values[0].text
        this.data = values[0].value
      }
    },
    components: {

    }

  }
</script>
