<template>
  <div class="progress-nav" :class="['pro-nav'+currentStep]">
    <div class="long-line clearfix"><span></span><span></span></div>
    <div class="pro-item pi-one"><b></b><s></s><span>填写登录名</span></div>
    <div class="pro-item pi-two"><b></b><s></s><span>设置新密码</span></div>
    <div class="pro-item pi-three"><b></b><s></s><span>问题验证</span></div>
  </div>
</template>
<style>
  body {
    /*background-color:#ff0000;*/
  }

  .progress-nav {
    height: 58px;
    background: #edf4f5;
    position: relative;
  }

  .pro-item {
    width: 90px;
    text-align: center;
    position: absolute;
    top: 2px;
    color: #bdbdbd;
    font-size: 13px;
  }

  .pi-one {
    left: 5px;
  }

  .pi-two {
    left: 50%;
    margin-left: -45px;
  }

  .pi-three {
    right: 5px;
  }

  .pro-item b {
    display: block;
    width: 8px;
    height: 8px;
    margin: 15px auto 10px;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    background: #f3f3f3;
  }

  .pro-item s {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(46, 149, 255, .3);
    position: absolute;
    left: 35px;
    top: 9px;
    display: none;
  }

  .long-line {
    padding: 0 50px;
  }

  .long-line span {
    float: left;
    width: 50%;
    height: 1px;
    margin-top: 21px;
    background: #bdbdbd;
  }

  .pro-nav1 .pi-one b {
    border: 1px solid #2e95ff;
    background: #2e95ff;
  }

  .pro-nav1 .pi-one s {
    display: block;
  }

  .pro-nav2 .pi-one b {
    border: 1px solid #2e95ff;
    background: #2e95ff;
  }

  .pro-nav2 .long-line span:first-of-type {
    background: #2e95ff;
  }

  .pro-nav2 .pi-two b {
    border: 1px solid #2e95ff;
    background: #2e95ff;
  }

  .pro-nav2 .pi-two s {
    display: block;
  }

  .pro-nav3 .pi-one b, .pro-nav3 .pi-two b {
    border: 1px solid #2e95ff;
    background: #2e95ff;
  }

  .pro-nav3 .long-line span {
    background: #2e95ff;
  }

  .pro-nav3 .pi-three b {
    border: 1px solid #2e95ff;
    background: #2e95ff;
  }

  .pro-nav3 .pi-three S {
    display: block;
  }

  .pro-nav1 .pi-one span, .pro-nav2 .pi-two span, .pro-nav2 .pi-one span, .pro-nav3 .pi-three span, .pro-nav3 .pi-two span, .pro-nav3 .pi-one span {
    color: #2e95ff;
  }
</style>
<script>
  export default{
    props: {
      currentStep: {
        type: Number,
        default: 1
      }
    },
    components: {

    }
  }
</script>
