<template>
    <div class="tip-wrap">
      <div class="tw-left"><icon :size="size" :value="value"></icon></div>
      <div class="tw-right">{{text}}</div>
    </div>
</template>
<style lang="less">
  .tip-wrap{
    display:box;
    width:100%;
    display: -webkit-box;
    padding-top:1.5rem;
    .tw-left{
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      text-align: center;
      margin-left:1.5rem;
      color:#67bae9;
    }
    .tw-right{
      -webkit-box-flex:1.0;
      box-flex:1.0;
      padding-right:1.5rem;
      line-height: 2rem;
      margin-left:0.5rem;
      font-size:14px;
    }
  }
</style>
<script>
  import icon from 'src/components/icon/icon.vue'
  export default{
      props: {
        text: {
          type:String,
          default: '提示信息'
        },
        value: {
          type:String,
          default: 'error_outline'
        }
      },
      data(){
          return {}
      }
  }
</script>
