<template>
  <span class="vc-count-down">{{active ? formatStr: text}}</span>
</template>
<script lang="babel">
  /**
   * 用法:
   * <countdown text="获取验证码" :active="true" :during="120" format="M分S秒"></countdown>
   * 参数说明
   * active: true 开始倒计时 false 停止倒计时
   * during: 倒计时长 单位秒
   * format: 格式化输入  H 时 M 分 S 秒
   */
  export default{
    props: {
      text: String, // 非计时状态显示文字
      during: Number, // 到计时长 秒
      active: Boolean,  //启动开关
      format: {
        type: String,
        default:'S'
      }
    },
    data(){
      return {
        current: this.during
      }
    },
    created() {
      if (!!this.active && this.active === true) {
        this.start()
      }
    },
    computed: {
      formatStr() {
        let hour = Math.floor(this.current / 3600)
        let minute = (Math.floor(this.current / 60) % 60)
        let second = this.current % 60

        let res = this.format
        return res.replace('H',hour).replace('M', minute).replace('S',second)
      }
    },
    methods: {
      start() {
        let timer = window.setInterval(() => {
          if (this.current-- < 1 ||this.active === false) {
            window.clearInterval(timer)
            this.active = false
            this.current = this.during
          }
        }, 1000)
      }
    },
    watch: {
      active: function (newVal,oldVal) {
        if (newVal === true) {
          this.start()
        }
      }
    }
  }
</script>

<style lang="less">
  @import "./utils/_vars.less";
  .vc-count-down{
    font-size: 14px;
    color: @blue
  }
</style>
