<template>
  <div class="vc-spinner vc-spinner--steps"
       aria-hidden="true"
       :style="{'font-size': size + 'px'}"
       :class="['vc-icon-spinner-' + icon]"
  ></div>
</template>
<script>
    export default{
      props: {
        size: {
          type: Number,
          default: 36
        },
        icon: {
          type: Number,
          default: '1'
        }
      }
    }
</script>
<style>
  @import "../styles/res/loader/loader-font.css";
  .vc-spinner {
    display: inline-block;
    font-size:36px;
    height: 1em;
    line-height: 1;
    animation: anim-rotate 2s infinite linear;
    color: lightblue;
    text-shadow: 0 0 .25em rgba(255,255,255, .3);
  }
  @keyframes vc-anim-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .vc-spinner--steps {
    animation: vc-anim-rotate 1s infinite steps(8);
  }
  .vc-spinner--steps2 {
    animation: vc-anim-rotate 1s infinite steps(12);
  }

</style>
