<template>
  <div class="tip" :style="style">
    {{text}}
  </div>
</template>
<style lang="less">
  @import "./utils/_vars.less";
  .tip {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @blue;
    font-size: 1.2rem;
    height: 4rem;
  }
</style>
<script>
  export default{
    props: {
      text: {
        type:String,
        default: '请输入提示信息'
      },
      style: {
        type: Object,
        default: function(){
          return {}
        }
      }
    }
  }
</script>
