<template>
    <router-view transition="slide"  transition-mode="out-in"></router-view>
</template>
<script>
  export default {
    data(){
      return {}
    }
  }
</script>

<style lang="less">

  @import "../../components/utils/_vars.less";
  @import "../../components/utils/_mixins.less";

  html {
    font-size: 10px;
  }

  html, body {
    height: 100%;
    background: #EDF3F8;
    padding: 0;
    margin: 0;
  }

  #app {
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
  }

  .slide-transition {
    transition-duration: .3s;
    width: 100%;
  }
  .slide-leave, .slide-enter {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  .app-transition {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }

  .app-enter, .app-leave {
    opacity: 0;
  }
</style>
