<template>
  <div>
    <!--登陆方式选项卡-->
    <tab-bar :active="tabActive">
      <tab-bar-item v-for="item in supportType" @tabbar-click="tabBarClick">
        {{LoginMode[item].name}}
      </tab-bar-item>
    </tab-bar>
    <!--信息提示-->
    <tip text="这是提示信息" v-if="state.tip"></tip>
    <div style="background: white; margin-bottom: 20px;">
      <!--网银登陆名-->
      <text-field type="text" label="网银登陆名" placeholder="网银登陆名" v-if="state.account"
                  :value.sync="formData.account"></text-field>
      <!--银行卡号-->
      <text-field type="text" label="银行卡号" placeholder="网银登陆名" v-if="state.bankNum"
                  :value.sync="formData.bankNum"></text-field>
      <!--身份证号-->
      <text-field type="text" label="身份证号" placeholder="网银登陆名" v-if="state.personId"
                  :value.sync="formData.personId"></text-field>
      <!--登陆密码-->
      <text-field type="password" label="登陆密码" placeholder="请服务密码" v-if="state.loginPass"
                  :value.sync="formData.loginPass" switch></text-field>
      <!--验证码-->
      <form-group v-if="state.catchCode">
        <text-field slot="left" type="text" label="验证码" placeholder="请输入图中字符"
                    :value.sync="formData.catchCode"></text-field>
        <item-form slot="right">
          <div class="catchCode">
            <img :src="catchCodeUrl" @click="getValiCode" v-show="!catchCodeReload">
            <spinner :size="20" :icon="2" v-show="catchCodeReload"></spinner>
          </div>
        </item-form>
      </form-group>
      <!--短信验证码-->
      <form-group v-if="state.msgCode">
        <text-field slot="left" type="text" label="短信验证" placeholder="请输入短信验证码"
                    :value.sync="formData.msgCode"></text-field>
        <item-form slot="right">
          <button @click="bankDebitMessage">
            <countdown text="获取验证码" :active.sync="activeTimer" :during="59" format="S"></countdown>
          </button>
        </item-form>
      </form-group>
    </div>

    <!--提交按钮-->
    <div style="margin: 0px 10px;">
      <button fill color="blue" @click="handleSubmit" raised>提交</button>
    </div>
  </div>
</template>

<script>
  import tabBar from 'src/components/bars/tabBar.vue'
  import tabBarItem from 'src/components/bars/tabBarItem.vue'
  import countdown from 'src/components/countdown.vue'
  import * as utils from '../../../libs/utils'
  import webApiConfig from '../../../libs/webapiConfig'
  import webApi from 'src/libs/webapi'
  // 初始化显示状态
  function initState(account = true, bankNum = true, personId = true, loginPass = true, catchCode = true, msgCode = false, tip = true) {
    return {account, bankNum, personId, loginPass, catchCode, msgCode, tip}
  }
  // 初始化文本域值
  function initFormData(account = '', bankNum = '', personId = '', loginPass = '', catchCode = '', msgCode = '') {
    return {account, bankNum, personId, loginPass, catchCode, msgCode}
  }
  const FiledName = {
    account: '登陆名称', bankNum: '银行卡号', personId: '身份证号', catchCode: '验证码', loginPass: '登陆密码', msgCode: '短信验证码'
  }

  const LoginMode = {
    '01': {name: '银行卡号', state: initState(false, true, false, true, true, false)},
    '02': {name: '网银登录名', state: initState(true, false, false, true, true, false)},
    '03': {name: '身份证号', state: initState(false, false, true, true, true, false)},
  }

  export default {
    created() {
      let mode = this.supportType[0]
      this.state = LoginMode[mode].state

      // 初始化时强制显示验证码
      this.state.catchCode = true

      // 获取登陆图片验证码
      this.getValiCode()


    },
    data() {
      return {
        state: initState(),
        formData: initFormData(),
        catchCodeReload: true,
        catchCodeUrl: '',
        checkResult: null,
        tabActive: 0,
        LoginMode,
        supportType: this.$root.supportType,
        activeTimer: false,
      }
    },
    methods: {
      /** 提交按钮事件处理 */
      handleSubmit() {
        this.loginBank()
      },

      /** tab切换*/
      tabBarClick (index) {
        this.tabActive = index  // 响应点击事件
        let mode = this.supportType[index]
        // 保存catchCode显示状态
        let catchCode = this.state.catchCode
        this.state = LoginMode[mode].state
        // 恢复catchCode显示状态
        this.state.catchCode = catchCode
      },

      /** 表单验证*/
      checkForm(){
        let needChecks = Object.keys(this.state).filter((item) => this.state[item] === true)
        for (let i = 0; i < needChecks.length; i++) {
          let _key = needChecks[i]
          let _value = this.formData[needChecks[i]]
          // 通用验证规则 非空并且至少四位字符
          if (/\S{4,30}/g.test(_value) == false) {
            return `${FiledName[_key]} 不能为空`
          }
        }
        return null
      },
      /** 获取登陆图片验证码 */
      async getValiCode () {

        // 显示loading效果
        this.catchCodeReload = true

        let _param = webApiConfig.bank.getValiCode.param
        _param.bankType = this.$root.currentBank.bank_type
        _param.currentTime = ''
        let res = await webApi.bank.getValiCode(_param)

        // 关闭loading效果
        this.catchCodeReload = false

        if (!res || !res.body || res.body.errorCode !== '00000') {
          // todo 异常埋点 getValiCode
          let msg = res.body.errorCode === '6666' ? 'errorCode: 6666' : res.msg
          this.$root.alert(msg)
          return
        }
        // 更新图片验证码状态
        this.state.catchCode = res.body.result.length > 0
        this.catchCodeUrl = res.body.result
      },

      /** 获取短信验证码 */
      async bankDebitMessage () {
        let _param = webApiConfig.bank.bankDebitMessage.param
        _param.bankType = this.$root.currentBank.bank_type
        let res = await webApi.bank.bankDebitMessage(_param)

        if (!res || !res.body || res.body.errorCode !== '00000') {
          // todo 异常埋点 bankDebitMessage
          let msg = res.body.errorCode === '6666' ? 'errorCode: 6666' : res.msg
          this.$root.alert(msg)
          return
        }
        // 启动计时器
        this.activeTimer = true
      },

      /** 首次登陆*/
      async loginBank () {
        //表单较验
        let checkResult = this.checkForm()
        if (checkResult !== null) {
          return this.$root.alert(checkResult)
        }

        let loginModel = this.supportType[this.tabActive]
        let fData = this.formData

        let userName = {'01': fData.bankNum, '02': fData.account, '03': fData.personId}[loginModel]

        let _param = webApiConfig.bank.loginBank.param
        _param.loginType = loginModel //登陆模式
        _param.bankType = this.$root.currentBank.bank_type
        _param.userName = userName
        _param.accountNo = ''
        _param.batchNo = '1'
        _param.captchaCode = fData.catchCode
        _param.passWord = fData.loginPass

        this.$root.showLoader(true, `正在登陆银行`)
        let res = await webApi.bank.loginBank(_param)
        this.$root.showLoader(false)

        if (!res || !res.body || !res.body.errorCode ||
          (res.body.errorCode !== '00000' && res.body.errorCode !== '40007' && res.body.errorCode !== 'L0001')) {
          // todo 异常埋点 loginBank
          let msg = res.body.errorCode === '6666' ? 'errorCode: 6666' : res.msg || res.body.result
          this.$root.alert(msg)
          return
        }

        if (res.body.errorCode === '40007') {
          // 显示短信验证码
          this.state = initState(false,false,false,false,false,true)
        }
      },

      /** 二次登陆 */
      async login2Bank () {
        let loginModel = this.supportType[this.tabActive]
        let fData = this.formData

        let userName = {'01': fData.bankNum, '02': fData.account, '03': fData.personId}[loginModel]

        let _param = webApiConfig.bank.login2Bank.param
        _param.loginType = loginModel //登陆模式
        _param.bankType = this.$root.currentBank.bank_type
        _param.userName = userName
        _param.accountNo = ''
        _param.batchNo = ''
        _param.captchaCode = fData.catchCode

        this.$root.showLoader(true, `正在登陆银行`)
        let res = await webApi.bank.loginBank(_param)
        this.$root.showLoader(false)

        if (!res || !res.body || !res.body.errorCode ||
          (res.body.errorCode !== '00000' || res.body.errorCode !== 'L0001')) {
          // todo 异常埋点 login2Bank
          let msg = res.msg || res.body.result || 'errcode: 6666'
          this.$root.alert(msg)
          return
        }
        // 登陆成功
        window.location="../interacts/success.html"
      }
    },
    components: {
      tabBar,
      tabBarItem,
      countdown
    }
  }
</script>

<style lang="less">
  .catchCode {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3rem;
    margin-right: 1rem;
    img {
      width: 8rem;
      height: 3rem;
    }
  }

  .hairline-offset {
    overflow: hidden;
    &::after {
      left: 9.5rem !important;
    }
  }

</style>
