<template>
  <div>
    <ul class="bank-list">
      <li v-for="bank in bankList" @click="goToBank(bank)">
        <img :src="bank.img_url">
        <div>{{bank.name}}</div>
      </li>
    </ul>
  </div>
</template>

<script>
  import webApiConfig from '../../../libs/webapiConfig'
  import webApi from 'src/libs/webapi'

  const bankList = [
    {id: 'gsyh', name: '中国工商银行', img_url: require('../assets/banks/gsyh.jpg'), bank_type: 1},
    {id: 'jsyh', name: '中国建设银行', img_url: require('../assets/banks/jsyh.jpg'), bank_type: 2},
    {id: 'zgyh', name: '中国银行', img_url: require('../assets/banks/zgyh.jpg'), bank_type: 3},
    {id: 'xyyh', name: '兴业银行', img_url: require('../assets/banks/xyyh.jpg'), bank_type: 4},
    {id: 'zsyh', name: '招商银行', img_url: require('../assets/banks/zsyh.jpg'), bank_type: 5},
    {id: 'nyyh', name: '中国农业银行', img_url: require('../assets/banks/nyyh.jpg'), bank_type: 6},
    {id: 'jtyh', name: '交通银行', img_url: require('../assets/banks/jtyh.jpg'), bank_type: 7},
    {id: 'jsyh', name: '中国邮政储蓄银行', img_url: require('../assets/banks/jsyh.jpg'), bank_type: 8},
    {id: 'hxyh', name: '华夏银行', img_url: require('../assets/banks/hxyh.jpg'), bank_type: 9},
    {id: 'msyh', name: '民生银行', img_url: require('../assets/banks/msyh.jpg'), bank_type: 10},
    {id: 'zxyh', name: '中信银行', img_url: require('../assets/banks/zxyh.jpg'), bank_type: 11},
    {id: 'pfyh', name: '浦发银行', img_url: require('../assets/banks/pfyh.jpg'), bank_type: 12},
    {id: 'gdyh', name: '中国光大银行', img_url: require('../assets/banks/gdyh.jpg'), bank_type: 13},
    {id: 'qlyh', name: '齐鲁银行', img_url: require('../assets/banks/qlyh.jpg'), bank_type: 14},
    {id: 'bbwyh', name: '广西北部湾银行', img_url: require('../assets/banks/bbwyh.jpg'), bank_type: 15},
  ]

  export default{
    data(){
      return {
        bankList
      }
    },
    methods: {
      async goToBank(bank) {
        let res = await this.isSupportBank(bank)
        if (res !== false) {
          this.$root.currentBank = bank
          this.$root.supportType = res.body.result.supportType.split(',')
          this.$router.go({name: 'bankForm', params: {bankId: bank.id}})
        }
      },
      /**
       * isSupportBank
       */
      async isSupportBank(bank) {
        let _param = webApiConfig.bank.isSupportBank.param
        _param.bankType = '1'
        _param.bankName = bank.id
        this.$root.showLoader(true, `检测 ${bank.name} 是否可用`)
        let res = await webApi.bank.isSupportBank(_param)
        this.$root.showLoader(false)
        if (!res || !res.body || !res.body.errorCode || res.body.errorCode !== '00000') {
          // todo 异常埋点 isSupportBank
          let msg = res.msg || 'errorCode 6666'
          this.$root.alert(msg)
          return false
        }
        return res
      }

    }
  }
</script>


<style lang="less">
  @import "../../../components/utils/_mixins";
  @import "../../../components/utils/_vars";

  @bankImgSize: 3.6rem;
  .bank-list {
    margin: 0px;
    padding: 0px;
    background: white;
    overflow: hidden;
    li {
      list-style: none;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      color: @carbon;
      height: 6rem;
      font-size: 1.8rem;
      position: relative;
      .hairline(bottom, #d3d6db);

      img {
        width: @bankImgSize;
        height: @bankImgSize;
        margin-left: 2rem;
        margin-right: 2rem;
        vertical-align: middle;
      }
      &::after {
        left: 7.5rem;
      }
    }
  }

</style>
