@font-face {
  font-family: 'loaderFont';
  src:url('fonts/loader.eot?-9haulc');
  src:url('fonts/loader.eot?#iefix-9haulc') format('embedded-opentype'),
  url('fonts/loader.woff?-9haulc') format('woff'),
  url('fonts/loader.ttf?-9haulc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="vc-icon-"], [class*=" vc-icon-"] {
  font-family: 'loaderFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vc-icon-spinner-1:before {
  content: "\e000";
}
.vc-icon-spinner-2:before {
  content: "\e001";
}
.vc-icon-spinner-3:before {
  content: "\e002";
}
.vc-icon-spinner-4:before {
  content: "\e003";
}
.vc-icon-spinner-5:before {
  content: "\e004";
}
.vc-icon-spinner-6:before {
  content: "\e005";
}
.vc-icon-spinner-7:before {
  content: "\e006";
}
