<template>
  <div class="item-form-group">
    <div class="item-form-group-flex-1">
      <slot name="left"></slot>
    </div>
    <div :style="rightStyle">
      <slot name="right"></slot>
    </div>
  </div>
</template>
<style>
  .item-form-group{
    display: flex;
    flex:1;
  }
  .item-form-group-flex-1{
    flex:1
  }
</style>
<script>
  export default {
    props: {
      rightStyle: {
        type: Object,
        default: function(){
          return {}
        }
      }
    }
  }
</script>
