<template>
  <div class="item-form" :class="mergeClass">
    <div class="label" v-if="label">{{label}}</div>
    <div class="item-form-content">
      <slot></slot>
    </div>
    <div class="item-form-icon" v-if="icon">
      <icon :value="icon"></icon>
    </div>
  </div>
</template>

<script lang="babel">
  import icon from '../icon/icon'
  export default {
    props: {
      label: {
        type: String,
        default: ''
      },
      icon: {
        type: String,
        default: ''
      },
      focus: {
        type: Boolean,
        default: false
      },
      noEmpty: {
        type: Boolean,
        default: false
      },
      className:{
        type: Object,
        default: function(){
          return {}
        }
      }
    },
    computed:{
      mergeClass: function () {
        return {
          'focus-state': this.focus,
          'not-empty-state': this.noEmpty,
          ...this.className
        }
      }
    },
    components: {
      icon
    }
  }
</script>

<style lang="less">
  @import "../utils/_vars.less";
  @import "../utils/_mixins.less";

  @itemHeight: 5rem;
  @fontSize: 1.4rem;

  /*label宽度*/

  @fontLable: 1.4rem;
  @lableWidth: 8rem;

  .item-form{
    position: relative;
    padding-left: 16px;
    min-height: @itemHeight;
    color: @body_color;
    font-size: @fontSize;
    display: flex;
    .hairline(bottom, #d3d6db);
    &.focus-state,
    &.not-empty-state {
      .floating-label {
        transform: scale(1) translateY(0);
      }
    }
    &.focus-state {
      .floating-label {
        color: @red;
      }
    }
  }


  .item-form-icon{
    width: 40px;
    height: 36px;
    display: flex;
    align-items: center;
    margin-top: 6px;
    .flex-shrink(0);
    + .item-form-content{
      margin-left: 16px;
    }
  }

  .item-form-content{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    .item-form{
      padding-left: 0;
    }
    .item-form-content{
      padding: 0;
    }
  }


  .floating-label,
  .label {
    vertical-align: top;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    transition-duration: 200ms;
    .flex-shrink(0);
  }

  .floating-label,
  .label {
    line-height: @itemHeight;
    width: @lableWidth;
  }

  .floating-label {
    transform-origin: left;
    transform: scale(16/12) translateY(21px);
    color: @body_color;
    width: auto;
    max-width: 75%;
  }

  .item-form.focus-state{
    color: @blue;
  }
</style>
